<html>
  <head>
    <title>{% block title %}{% endblock %} Video Streaming with Python and Django</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <center>
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/' %} active {% endif %}" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/new_video' %} active {% endif %}" href="new_video">Add Video</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/login' %} active {% endif %}" href="login">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/register' %} active {% endif %}" href="register" tabindex="-1" aria-disabled="true">Sign Up</a>
      </li>
    </ul>
    </br>
    {% block bodyA %}
    {% endblock %}
    </center>
  </body>
</html>
